<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <p>
        Search:
        <input ng-model="phoneListAppVm.phoneListFilterQuery">
      </p>
      <p>
        Sort by:
        <select ng-model="phoneListAppVm.phoneListOrderBy">
          <option value="name">Alphabetical</option>
          <option value="age">Newest</option>
        </select>
      </p>
    </div>
    <div class="col-md-10">
      <phone-list phone-list-url="/json/phones.json"
        phone-list-filter-query="phoneListAppVm.phoneListFilterQuery"
        phone-list-order-by="phoneListAppVm.phoneListOrderBy"
        on-img-click="phoneListAppVm.onPhoneListImgClick(id)"
        on-name-click="phoneListAppVm.onPhoneListNameClick(id)">
      </phone-list>
    </div>
  </div>
</div>
