<ul class="phones">
  <li ng-repeat="phone in phoneListVm.phones |
      filter:phoneListVm.phoneListFilterQuery |
      orderBy:phoneListVm.phoneListOrderBy" class="thumbnail phone-list-item">
    <a href="javascript:;" class="thumb"
      ng-click="phoneListVm.imgClickHandler(phone.id)">
      <img ng-src="{{phone.imageUrl}}" alt="{{phone.name}}">
    </a>
    <a href="javascript:;" ng-click="phoneListVm.nameClickHandler(phone.id)">
      {{phone.name}}</a>
    <p>{{phone.snippet}}</p>
  </li>
</ul>
